<template>
  <div id="app">
    <Hellovue/>
  </div>
</template>

<script>
import HelloWorld from './components/Hellovue'

export default {
  name: 'App',
  components: {
    Hellovue
  }
}
</script>

<style>

#app {
  font-family: 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
